.git_informations {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #2F2F2F;
    margin: 20px auto 0;
    padding: 10px;
    text-align: left;
    width: 500px;
}

.git_informations li {
    font-weight:bold;
}

.git_informations li ul li {
    margin-left: 10px;
    font-weight: normal;
}

.git_informations ul.status > li > ul {
    max-height: 200px;
    overflow: auto;
}
