.git_informations {
    margin: 0 auto;
    width: 300px;
    text-align: left;
}

.git_informations li {
    font-weight:bold;
}

.git_informations li ul li {
    margin-left: 10px;
    font-weight: normal;
}