<?xml  version="1.0"?>
<config>
    <modules>
        <Hackathon_MageGitInfo>
            <version>0.1.0</version>
        </Hackathon_MageGitInfo>
    </modules>
    <global>
        <blocks>
            <magegitinfo>
                <class>Hackathon_MageGitInfo_Block</class>
            </magegitinfo>
        </blocks>
        <models>
            <magegitinfo>
                <class>Hackathon_MageGitInfo_Model</class>
                <resourceModel>magegitinfo_mysql4</resourceModel>
            </magegitinfo>
        </models>
        <helpers>
            <magegitinfo>
                <class>Hackathon_MageGitInfo_Helper</class>
            </magegitinfo>
        </helpers>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <append_git_info_to_footer>
                        <class>magegitinfo/observer</class>
                        <method>appendGitInfoToFooter</method>
                    </append_git_info_to_footer>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <admin>
        <routers>
            <Hackathon_MageGitInfo>
                <use>admin</use>
                <args>
                    <module>Hackathon_MageGitInfo</module>
                    <frontName>magegitinfo</frontName>
                </args>
            </Hackathon_MageGitInfo>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <magegitinfo>
                    <file>magegitinfo.xml</file>
                </magegitinfo>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
    </frontend>
    <default>
        <magegitinfo>
            <params>
                <git_binary>git</git_binary>
                <number_of_logs>"5"</number_of_logs>
            </params>
        </magegitinfo>
    </default>
</config>